{% if app.user and app.user.active == 1 %}
<div class="btn-group" role="group" aria-label="Basic example">
  <a href="{{path('product_new')}}" class="btn btn-secondary btn-xs" style="padding:1px 5px; font-size:12px; line-height:1.5; white-space:nowrap;">+ Product</a>
  &nbsp;<a href="{{path('category_new')}}" class="btn btn-secondary btn-xs" style="padding:1px 5px; font-size:12px; line-height:1.5; white-space:nowrap;">+ Category</a>
  &nbsp;<a href="{{path('product_index')}}" class="btn btn-secondary btn-xs" style="padding:1px 5px; font-size:12px; line-height:1.5; white-space:nowrap;">Products & Presentations</a>
  &nbsp;<a href="{{path('category_index')}}" class="btn btn-secondary btn-xs" style="padding:1px 5px; font-size:12px; line-height:1.5; white-space:nowrap;">Categories</a>
  &nbsp;<a href="{{path('orda_index')}}" class="btn btn-secondary btn-xs" style="padding:1px 5px; font-size:12px; line-height:1.5; white-space:nowrap;">Orders</a>
  &nbsp;{% if app.user.admin == 1 %}<a href="{{path('registration_list')}}" class="btn btn-secondary btn-xs" style="padding:1px 5px; font-size:12px; line-height:1.5; white-space:nowrap;">Users</a>{% endif %}
</div>
{% endif %}