{% extends 'base.html.twig' %}
{% block carousel %}{% endblock %}
{% block body %}
  <!--Main layout-->
  <main class="mt-5 pt-4">
    <div class="container dark-grey-text mt-5">

    <h4>Order {{orda.id}}</h4>
    <!--Grid row-->
      <div class="row wow fadeIn">
        <!--Grid column-->
        <div class="col-md-6 mb-4">
            <h5>Items</h5>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th>Cost</th>
                    </tr>
                </thead>
                <tbody>
                    {% for purchase in orda.purchases %}
                        {% if purchase.prospect == orda.prospect %}
                        <tr>
                            <th>{{purchase.purchasedOn|date("d/m/Y")}}</th>
                            <td>{{ purchase.product.title }}</td>
                            <td>{{ purchase.quantity }}</td>
                            <td>{{ purchase.cost }}</td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>

            <ul>
                <li>
                    <a href="{{ path('orda_index') }}">Back to the list</a>
                </li>
            </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-6 mb-4">

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->
      </div>
    </main>


{% endblock %}
