<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Radoops Kenya</title>
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Bootstrap core CSS -->
  <link href="{{asset('css/bootstrap.min.css')}}" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="{{asset('css/mdb.min.css')}}" rel="stylesheet">
  <!-- Your custom styles (optional) -->
  <link href="{{asset('css/style.min.css')}}" rel="stylesheet">
  <style type="text/css">
    html,
    body,
    header,
    .carousel {
      height: 60vh;
    }

    @media (max-width: 740px) {
      html,
      body,
      header,
      .carousel {
        height: 100vh;
      }
    }

    @media (min-width: 800px) and (max-width: 850px) {
      html,
      body,
      header,
      .carousel {
        height: 100vh;
      }
    }
  </style>
  {% block stylesheets %}{% endblock %}
</head>
{# {{dump(app.request.cookies)}} #}
{% set my_cookies = [] %}
{% for key, cookie in app.request.cookies %}
  {% if 'product' in key %}
    {% set my_cookies = my_cookies|merge({(key): cookie}) %}
  {% endif %}
{% endfor %}

{# {{dump(my_cookies)}} #}
<body>
{% block navbar %}
	{% include 'templates/navbar.html.twig' %}
{% endblock %}{# navbar #}

{% block carousel %}
	{% include 'templates/carousel.html.twig' %}
{% endblock %}{# carousel #}

{% block body %}

{% endblock %}{# body #}

{% block footer %}
	{% include 'templates/footer.html.twig' %}
{% endblock %}{# footer #}
  <!-- SCRIPTS -->
  <!-- JQuery -->
  <script type="text/javascript" src="{{asset('js/jquery-3.3.1.min.js')}}"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="{{asset('js/popper.min.js')}}"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="{{asset('js/bootstrap.min.js')}}"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="{{asset('js/mdb.min.js')}}"></script>
  <!-- Initializations -->
  <script type="text/javascript">
    // Animations initialization
    new WOW().init();
  </script>
  {% block javascripts %}{% endblock %}
</body>
</html>
